<?xml version='1.0' encoding='utf-8'?>
<plugin id="free-float-button" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>free-float-button</name>
    <js-module name="freeFloatButton" src="www/free-float-button.js">
        <clobbers target="cordova.plugins.freeFloatButton" />
    </js-module>
</plugin>